/*= Layout
------------------*/
.navbar-brand {
  display: none;
}
.navbar-title {
  display: block;
}
.container-main {
  margin-top: 50px;
}
.full-width {
  width: 100%;
}
.fixed-top-content-margin {
  margin: 24px 0;
}
/*= Tables
------------------*/
th[ng-click]:hover {
  cursor: pointer;
}
/*= Forms
------------------*/
.form-control-strip {
  margin-top: 20px;
}
/*= Maps
------------------*/
.user-address-map {
  height: 300px;
}
/*= Alerts
------------------*/
[ng-messages] {
  color: #f00;
}
@media only screen and (max-width: 758px) {
  .navbar-brand {
    display: block;
  }
  .navbar-title {
    display: none !important;
  }
}
